# Python
venv/
__pycache__/
*.pyc

# ML models
models/
*.bin
*.pt
*.model

# datasets
data/raw/
data/processed/

# HuggingFace cache
.cache/

# Node
node_modules/
dist/

# Env
.env

# OS
.DS_Store
Thumbs.db