fastapi
uvicorn
pydantic
python-dotenv
sqlalchemy
pymysql
pandas
scikit-learn
transformers
torch
sentencepiece
sacremoses
langdetect
fasttext-wheel
deep-translator
google-genai
groq
thefuzz
indic-transliteration
requests
httpx
python-multipart